<!DOCTYPE html>
<html>
<title>Familiares</title>
<head>
    <h1>Esta es la lista de familiares</h1>
</head>
<body>      
    </style>
    <section>
        <h2>Madre</h2>
        <p>El nombre ingresado es {{ nombre_mama }}</p>
        <p>Su fecha de nacimiento es {{ dob_mama }}</p>
        <p>Su numero de identidad es {{ id_mama }}</p>
        <br>
        <hr>
    </section>
    <section>
        <h2>Padre</h2>
        <p>El nombre ingresado es {{ nombre_papa }}</p>
        <p>Su fecha de nacimiento es {{ dob_papa }}</p>
        <p>Su numero de identidad es {{ id_papa }}</p>
        <br>
        <hr>
    </section>
    <section>
        <h2>Hijo</h2>
        <p>El nombre ingresado es {{ nombre_hijo }}</p>
        <p>Su fecha de nacimiento es {{ dob_hijo }}</p>
        <p>Su numero de identidad es {{ id_hijo }}</p>
        <br>
        <hr>
    </section>
</body>
<footer>   
    <p>Este es el pie de pagina :)</p>
</footer>
</html>